@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.containerr {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-contentt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px;
}

.cardd {
    position: relative;
    background: #fff;
    max-width: 325px;
    width: 325px;
    height: auto;
    margin: 25px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    border-radius: 10px;
    overflow: hidden;
}

.card-image {
    max-height: 200px;
    width: 100%;
}

.card-image img {
    max-width: 100%;
    height: auto;
}

.card-info {
    position: relative;
    color: #222;
    padding: 10px 20px 20px;
    background: #fff;
}

.card-info h3 {
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 5px;
}

.card-info p {
    font-size: 1em;
    margin-bottom: 5px;
}

.paginationn {
    text-align: center;
    margin: 30px 30px 60px;
    user-select: none;
}

.paginationn li {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.paginationn li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    line-height: 45px;
}

.previous-pagee, .next-pagee {
    background: #0AB1CE !important;
    width: 80px !important;
    border-radius: 45px !important; 
    cursor: pointer !important;
    transition: 0.3s ease !important;
}

.previous-pagee:hover {
    transform: translateX(-5px);
}

.next-pagee:hover {
    transform: translateX(5px);
}

.current-pagee, .dotss {
    background: #ccc;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.activee {
    background: #0AB1CE;
}

.disablee {
    background: #ccc;
}